<div class="EmployeeEdit">
    <header class="header">
        Add Equipment
    </header>
    <form class="form" [formGroup]="equipmentForm">

        <mat-form-field class="fields" hideRequiredMarker color="warning" appearance="fill">
            <mat-label>Enter {{data.Columns[1]}}</mat-label>
            <input matInput formControlName="equipmentName" id="equipmentName" required>
        </mat-form-field>

        <mat-form-field class="fields" hideRequiredMarker color="warning" appearance="fill">
            <mat-label>Enter {{data.Columns[2]}}</mat-label>
            <input matInput formControlName="equipmentDetail" id="equipmentDetail" required>
        </mat-form-field>

        <mat-form-field class="fields" hideRequiredMarker color="warning" appearance="fill">
            <mat-label>Enter {{data.Columns[3]}}</mat-label>
            <input matInput formControlName="quantity" id="quantity" required>
        </mat-form-field>

        <mat-form-field class="fields" hideRequiredMarker color="warning" appearance="fill">
            <mat-label>Select {{data.Columns[4]}}</mat-label>
            <mat-select [(value)]="typeSelected">
                <mat-option *ngFor="let type of Type" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field class="fields" hideRequiredMarker color="warning" appearance="fill">
            <mat-label>Enter {{data.Columns[5]}}</mat-label>
            <input matInput formControlName="equipmentImage" id="equipmentImage" required>
        </mat-form-field>

    </form>

    <button mat-raised-button class="formButton" (click)="save()" color="primary">Save</button>

</div>